<!-- Navigation -->
<nav class="navbar">
    <ul class="navbar__menu">
        <li class="navbar__item active">
            <a href="#page-top" class="navbar__link">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="navbar__item">
            <a href="#shop" class="navbar__link">
                <i class="fa fa-shopping-bag"></i>
                <span>Shop</span>
            </a>        
        </li>
        <li class="navbar__item">
            <a href="#collections" class="navbar__link">
                <i class="fa fa-th-large"></i>
                <span>Collections</span>
            </a>        
        </li>
        <li class="navbar__item">
            <a href="#about" class="navbar__link">
                <i class="fa fa-info-circle"></i>
                <span>About Us</span>
            </a>        
        </li>
        <li class="navbar__item">
            <a href="#cart" class="navbar__link">
                <i class="fa fa-shopping-cart"></i>
                <span>Cart</span>
            </a>        
        </li>
        <li class="navbar__item">
            <a href="#contact" class="navbar__link">
                <i class="fa fa-envelope"></i>
                <span>Contact</span>
            </a>        
        </li>
    </ul>
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to StepStyle</div>
            <div class="intro-heading">Find Your Perfect Pair</div>
            <a href="#shop" class="page-scroll btn btn-xl">Shop Now</a>
        </div>
    </div>
</header> 